#root {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  height: 100vh;
  display:flex;
  flex-direction: row;
}

.form-container {
  left: 0;
  width: 50%;

  border-color: gold;
  border-width: 4px;
  border-style: solid;
}

.card-container {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

